<div class="row mt-5">
  <div class="col-8">
    <table class="table table-active table-dark">
      <tr>
        <th>№</th>
        <th>Name</th>
        <th>Type</th>
        <th>Country</th>
        <th>Count</th>
      </tr>
      <tr (click)="SelectProduct(product)" (dblclick)="SetNullSelectProduct()"
          *ngFor="let product of products;let ind = index"
          [ngClass]="{'bg-light text-dark':selectProductRowId === product.id}">
        <td>{{ind + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
        <td>{{product.country}}</td>
        <td>{{product.count}}</td>
        <!--      <td *ngIf="selectProductRowId === product.id && isAll">-->
        <!--        <label class="mr-5">-->
        <!--          <input type="range" max="{{product.count}}" value="1" (input)="checkCountProduct($event)" [(ngModel)]="countProduct"  min="1" class="custom-control">-->
        <!--        </label>-->
        <!--        <label class="w-25" >-->
        <!--          {{countProduct}}-->
        <!--        </label>-->
        <!--      </td>-->
        <td *ngIf="selectProductRowId === product.id && isAll">

        </td>
      </tr>
    </table>
  </div>
  <div class="mr-5">
    <button (click)="addProductInOrder()" [disabled]="selectProductRowId === null" class="btn btn-dark">Add product
    </button>
    <button (click)="removeProductFromOrder()" class="btn btn-danger" [disabled]="order.orderedProducts.length === 0">
      Cancel
    </button>
    <br>
    <br>
    <label class="mr-5">
      <input (input)="checkCountProduct($event)" [(ngModel)]="countProduct" class="custom-control"
             max="{{productOr.count}}"
             min="1" type="range" value="1">
    </label>
    <br>
    <label>
      {{countProduct}}
    </label>
  </div>
  <div class="w-auto">
    <h4>Customer</h4>
    <div>
      <label>
        <input [(ngModel)]="order.ordererName" class="custom-control" type="text">
      </label>
    </div>
    <h4>Date</h4>
    <div>
      <label>
        <input [(ngModel)]="order.startDate" [max]="date" class="custom-control" type="date">
      </label>
    </div>
    <br>
    <button (click)="AddOrder()"
            [disabled]="order.orderedProducts.length === 0 || order.ordererName === '' || order.startDate === undefined"
            class="btn btn-dark">Add order
    </button>
    <br>
    <br>
    <div class="overflow-auto h-25">
      <ul *ngFor="let orderProd of thisOrderedProducts;" class="list-group" style="list-style: none">
        <li class="list-group-item">
          Name:  {{orderProd.product.name}}
        </li>
        <li class="list-group-item">
          Type:  {{orderProd.product.type}}
        </li>
        <li class="list-group-item">
          Country: {{orderProd.product.country}}
        </li>
        <li class="list-group-item">
          Count:  {{orderProd.countProduct}}
        </li>
        <br>
      </ul>
      <br>
    </div>
  </div>
</div>
