<div class="row mt-5 ml-5">
  <div class="col-8">
    <table class="table table-dark shadow shadow-sm">
      <tr>
        <th>№</th>
        <th>Name</th>
        <th>Type</th>
        <th>Country</th>
        <th>Count</th>
      </tr>
      <tr *ngFor="let prod of Products; let ind = index" id="excel-table">
        <td>
          {{ind + 1}}
        </td>
        <td>
          {{prod.name}}
        </td>
        <td>
          {{prod.type}}
        </td>
        <td>
          {{prod.country}}
        </td>
        <td>
          {{prod.count}}
        </td>
        <td align="center">
          <button (click)="AddProductOneValue(prod.id)" [disabled]="prod.count === 99"
                  class="btn btn-outline-light w-50">+
          </button>
        </td>
        <td align="center">
          <button (click)="DropProductOneValue(prod.id)" [disabled]="prod.count === 0"
                  class="btn btn-outline-light w-50">-
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-3 border border-dark rounded-sm shadow shadow-sm h-auto">
    <br>
    <h3 class="mb-1">Add product</h3>
    <br>
    <form (ngSubmit)="AddProduct(addForm.value)" [formGroup]="addForm" class="form-group">
      <label>
        <input class="form-control" formControlName="name" placeholder="Product name..." type="text"/>
      </label>
      <br>
      <label>
        <label class="mb-1">
          Type
        </label>
        <br>
        <label>
          <select class="form-control mr-2" formControlName="type">
            <option>Food</option>
            <option>Clothes</option>
            <option>Tech</option>
          </select>
        </label>
      </label>
      <br>
      <label>
        <label class="mb-1">
          Country
        </label>
        <br>
        <label>
          <select class="form-control" formControlName="country">
            <option>Belarus</option>
            <option>Russia</option>
            <option>USA</option>
            <option>UK</option>
            <option>Spain</option>
            <option>Poland</option>
            <option>Egypt</option>
            <option>Germany</option>
          </select>
        </label>
      </label>
      <br>
      <label class="mb-1">
        Quantity
      </label>
      <br>
      <label>
        <input (input)="ChangeCount($event)" class="form-control-range" formControlName="count" max="99" min="1" type="range"
               value="1"/>
        {{countValue}}
      </label>
      <button [disabled]="!addForm.valid" class="btn btn-dark form-control " type="submit">Submit</button>
    </form>
  </div>
  <div class="col-2">
    <button (click)="exportExcel()" class="btn btn-success" style="cursor: pointer">
      export to excel
    </button>
  </div>
</div>
